/* ==========================================================================
  steps
  Style the steps here.
 ========================================================================== */

.step.step--no-box  {
	border: 0;
	padding: 1.2rem 0 1rem 0;

	&.step--disabled {
		background-color: transparent;
		color: $gray;

		.step__header {
			opacity: 0.8;
		}
	}

	.step__wrapper {
		&:after,
		&:before {
			content: normal;
		}
	}
}

// Fix contrast of disabled step
.steps .step.step--disabled .step__icon {
  background-color: $blue-gray-dark-contrast;
}

.step.step--no-box.step--disabled .step__header {
  opacity: 1;
}

.step--disabled .step__title {
  color: $blue-gray-dark-contrast;
}

.steps.steps--has-line .step::before {
  background-color: $blue-gray-light;
}
