<button class="data-table__action__toggle data-table__action__toggle--arrow js-popover__toggle js-popover-bound" aria-expanded="{{open}}" aria-controls="popover-0" onclick={{action 'toggle'}}>{{title}}</button>
{{yield}}
